#wrapper {
	width: 950px;
	margin: auto;
}

.full {
	width: 100%;
}

.half {
	width: 450px;
}

.full > textarea {
	width: 850px;
	height: 50px;
}

.half > textarea {
	width: 400px;
	height: 100px;
}


.left {
	float: left;
}

.clear {
	overflow: hidden;
}